/* 
  Project: examen fernando castro sorteo loteria
  Date: 2024-04-06
*/



body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('img/ganadora.jpeg'); /* Ruta de la imagen de fondo */
  background-size: cover;
  background-position: center;
  height: 100vh; /* Ajustar al 100% del viewport height */
  overflow: hidden; /* Para evitar el desplazamiento vertical */
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 80%;
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra ligera */
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  text-align: center;
  color: #333;
}
.button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.button:hover {
  background-color: #0056b3;
}
.premio-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.premio-info p {
  margin: 0;
}
.numeros-premiados {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}
#formulario {
  display: none;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
}
#formulario input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
}







